<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class='pale-header'>
        <div class='header__logo'>
            <img class='header__logo-img' src='../images/main_img.png' alt='logo'></img>
            <p class='header__logo-title'>BONANZA BILLION</p>
        </div>
        <ul class='header__list'>
            <li class='header__list-li'>
                <a href="/" class="header__list-li-link">PLAY GAME</a>
            </li>
            <li class='header__list-li'>
                <a href="about.html" class="header__list-li-link">ABOUT</a>
            </li>
            <li class='header__list-li'>
                <a href="privacy.html" class="header__list-li-link">PRIVACY & COOKIE POLICY</a>
            </li>
            <li class='header__list-li'>
                <a href="terms.html" class="header__list-li-link">TERMS & CONDITIONS</a>
            </li>
        </ul>
        <!-- <Burger /> -->
    </div>
    <div class='about'>
        <h2 class='about__title'>About</h2>
        <p class='about__text'>We want users to enjoy using our website and applications.
            Also we want to find out which images, colors and visual shapes are the most popular with different people.
            The more time you're spending on our site — the more useful it will be for our company.
            That's why we are interested in increasing traffic to our website, we are looking forward to every new user.
            You are welcome! Good luck!t. Win or lose, you still get the same exciting reel-spinning action.
            Don’t believe us? Try the games
        </p>
    </div>
    <footer class='footer'>

        <div class='header header-in-footer'>
            <div class='header__logo header-in-footer__logo'>
                <img class='header__logo-img' src='./images/main_img.png' alt='logo'></img>
                <p class='header__logo-title'>BONANZA BILLION</p>
            </div>
            <ul class='header__list header-in-footer__list'>
                <li class='header__list-li header-in-footer__list-li'>
                    <a href="/" class="header__list-li-link">PLAY GAME</a>
                </li>
                <li class='header__list-li header-in-footer__list-li'>
                    <a href="/components/about.html" class="header__list-li-link">ABOUT</a>
                </li>
                <li class='header__list-li header-in-footer__list-li'>
                    <a href="/components/privacy.html" class="header__list-li-link">PRIVACY & COOKIE POLICY</a>
                </li>
                <li class='header__list-li header-in-footer__list-li'>
                    <a href="/components/terms.html" class="header__list-li-link">TERMS & CONDITIONS</a>
                </li>
            </ul>
        </div>
        <p class='footer__text'>
            Bonanza Billion grants it’s users access to a professionally chosen
            selection of free-to-play casino-style games. This site does not offer any
            real-money winnings from the collection of games it provides.
            The purpose of Bonanza Billion is to entertain its users. Please only use the site for this purpose.
        </p>
        <p class='footer__date'>© 2022 All Rights Reserved</p>
        <p class='footer__refund'>18+</p>
    </footer>
</body>

</html>