.header {
    max-width: 1920px;
    height: 144px;
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
}

.header-and-main {
    max-height: 1080px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/header_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
}

.header__logo {
    display: flex;
    margin: 21px 0;
    align-items: center;
    max-height: 100px;
}

.header__logo-img {
    max-width: 100px;
    max-height: 100px;
}

.header__logo-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26.4248px;
    line-height: 35px;
    text-shadow: 0px 0px 3.43179px rgba(0, 0, 0, 0.75);
    margin-left: 14px;
    color: #FFFFFF;
}

.header__list {
    display: flex;
    list-style-type: none;
    color: #FFFFFF;
    justify-content: space-between;
    width: 645px;
    padding: 0;
    margin-top: 62px;
    height: 20px;
}

@media (min-width: 320px) and (max-width: 999px) {
    .header__list {
        visibility: hidden;
        display: none;
    }
}

.header__list-li {
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.header__list-li:hover {
    opacity: 0.6;
}

.header__list-li-link {
    color: #FFFFFF;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.pale-header {
    padding: 0 2%;
    max-width: 1920px;
    height: 144px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/img-header-dark.png');
}

@media (min-width: 320px) and (max-width: 999px) {
    .header {
        justify-content: space-between;
        padding: 0 3%;
    }
    .pale-header {
        padding: 0 3%;
        justify-content: space-between;
    }
    .header__logo-img {
        max-width: 70px;
        max-height: 70px;
    }
    .header__logo-title {
        font-size: 20px;
        line-height: 24px;
        margin-left: 8px;
    }
}